<h2> Here are your results! </h2>

<div class="round_summary"
  <% @round.guesses.each do |guess| %>
    <% card = guess.card %>
    <div class="question"><%= card.question %></div>
    <div class="answer"><%= card.answer %></div>
    <div class="user_answer"><%= guess.user_answer %></div>
  <% end %>
</div>
