<!DOCTYPE html>
<html lang="en">
<head>
<title>Flashcards</title>
</head>
<body>
  <div id="navbar">
    <header>
      <a href="/users/login">Log In</a>
      <a href="/users/signup">Sign Up</a>
  </div>
<h1>Flashcard Home Page!</h1>
</body>
</html>


