<h2>NEW MEMBERS!</h2>

<% if @user.errors.any? %>
    <div class="alert alert-danger" role="alert">
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li class="text-danger"><%= msg %></li>
          <% end %>
        </ul>
    </div>
<%end %>

<form action="/users/signup" method="post">
  <label for="user_name">Username:</label>
  <input type="text" name="user[user_name]">
  <label for="password">Password:</label>
  <input type="password" name="user[password]">
  <input type="submit" value="Sign Up">
</form>
