<h2>NEW MEMEBERS!</h2>

<form action="/users/signup" method="post">
  <label for="user_name">Username:</label>
  <input type="text" name="user[user_name]">
  <label for="password">Password:</label>
  <input type="password" name="user[password]">
  <input type="submit" value="Log In">
</form>
