<h1> </h1>

<div class='question'><%= @card.question %></div>

<form action='/guesses/<%= @guess.id %>' method='post' >
  <input type='text' name='user_answer' placeholder='Type your answer' />
  <input type='hidden' name='_method' value='put' />
  <input type='submit' value='Submit' />
</form>
